$inabia-orange: #f78f1b;

.tabs{
    &:global(.MuiTabs-root) {
        background: none !important;
        height:88px !important;
    }
}

.tab {
    &:global(.MuiTab-textColorPrimary) {
        background-color: white !important;
        color: black !important;
        min-width: 0px !important;
        height: 88px !important;
        box-shadow: none !important;
        &:hover {
            @extend .tab:global(.MuiTab-textColorPrimary);
            color: $inabia-orange !important;
            border-bottom: 2px solid $inabia-orange !important;
            font-weight: bold !important;
        }

        &:global(.Mui-selected) {
            @extend .tab:global(.MuiTab-textColorPrimary);
            color: $inabia-orange !important;
            border-bottom: 2px solid $inabia-orange;
    
            &:hover {
                @extend .tab:global(.Mui-selected);
                color: black !important;
                font-weight: bold !important;
            }
        }
    }
}