.loginbtn {
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 45px;
    background-color: #1e0040;
    padding: 10px 36px;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.loginbtn:hover, .loginbtn:active {
    background-color: #3a0478;
}

.login-bg {
    background-image: url(/src/assets/images/bg5-4.jpg) !important;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px;
}

.main-content {
    height: 100%;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ag-header-container {
    width: 100% !important;
}

/* .ag-theme-alpine .ag-header-row {
    width: 100% !important;
    background: #1e0040;
    color: #fff !important;
} */

.ag-header-row-column {
    background: #26034e !important;
    width: 100% !important;
    color: #fff !important;
}

img {
    image-rendering: -moz-crisp-edges !important;
    image-rendering: -o-crisp-edges !important;
    image-rendering: -webkit-optimize-contrast !important;
    -ms-interpolation-mode: nearest-neighbor !important;
}

a {
    color: #1e0040;
}

input {
    background: white  !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-pb771q-MuiInputBase-input-MuiOutlinedInput-input {
    background: white  !important;
}

.theme-btn {
    background: #1e0040 !important;
    color: #fff  !important;
    text-shadow: none;
    font-weight: 500;
}

.page-title {
    color: #000 !important;
}

.form-control {
    margin-top: 20px !important;
    width: 47% !important;
    padding-right: 10px !important;
}

.submit {
    margin: 0 auto !important;
    margin-top: 20px !important;
    display: block !important;
}

.ag-theme-alpine [class^=ag-]:before {
    color: #fff !important;
}

.ag-theme-alpine .ag-icon-filter::before {
    color: #26034e !important;
}

.HeaderContent {
    background: #323232;
    padding-right: var(--tblr-gutter-x,1.5rem);
    padding-left: var(--tblr-gutter-x,1.5rem);
    width: 100%;color: #fff;
    background-image: url('/src/assets/images/hp-header.gif') !important;
    background-size: cover;
    background-position: 94% 37%;
    margin-bottom: 30px;
    border-radius: 3px;
}

.HeaderContent-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0px;
}


.HeaderContent-paragraph {
    font-size: 16px;
    margin: 0px;
    font-weight: 500;
}

.HeaderContent-container {
    padding: 40px 20px;
    display: grid;
}


.ag-theme-alpine .ag-icon-previous::before {
    color: #000 !important;
}

.ag-theme-alpine .ag-icon-next::before {
    color: #000 !important;
}

.ag-theme-alpine .ag-icon-first::before {
    color: #000 !important;
}

.ag-theme-alpine .ag-icon-last::before {
    color: #000 !important;
}


.ag-theme-alpine .ag-icon-small-down::before {
    color: black !important;
}


.bg-green {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #64748b;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: calc(0.25rem - 1px) 0.25rem;
    height: 1.25rem;
    border: 1px solid transparent;
    min-width: 1.25rem;
    font-weight: 600;
    font-size: .625rem;
    letter-spacing: .04em;
    text-transform: uppercase;
	background: #2fb344 !important;
	border: 1px solid #2fb344;
}

.bg-orange {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	min-width: 0;
	min-height: auto;
	padding: 0;
	border-radius: 100rem;
	background: #f76707 !important;
	border: 1px solid #f76707;	
}

.bg-danger {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	min-width: 0;
	min-height: auto;
	padding: 0;
	border-radius: 100rem;
	background: #d63939 !important;
	border: 1px solid #d63939;	
}

.search-container {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 10px;
}

.container-margin {
    margin-right: 30px;
}

.fileMargin {
    font-size: 20px;
    margin-top: 9px;
}

.fileImage {
    width: 45px;
    padding-right: 5px;
    float: left;
}

.filepara {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.pagesIcon {
    width: 45px;
    padding-right: 5px;
    float: left;
    margin-left: 30px;
}

.pagesPara {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.pagesContainer {
    font-size: 20px;
    margin-top: 9px;
}

.full-wdth-field {
    width: 100% !important;
}