.loginbtn {
    background-color: #f78f1b !important;
    width: 100px;
    font-weight: 500 !important;
    font-size: 14px !important;
    border-radius: 3px !important;

}

.loginbtn:hover, .loginbtn:active {
    background-color: #e17d0e !important;
}

.login-bg {
    background-image: url(/src/assets/images/bg5-4.jpg) !important;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px;
}

.main-content {
    height: 100%;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ag-header-container {
    width: 100% !important;
}

/* .ag-theme-alpine .ag-header-row {
    width: 100% !important;
    background: #1e0040;
    color: #fff !important;
} */

.ag-header-row-column {
    background: #303030 !important;
    width: 100% !important;
    color: #fff !important;
    font-weight: 500 !important;
}

img {
    image-rendering: -moz-crisp-edges !important;
    image-rendering: -o-crisp-edges !important;
    image-rendering: -webkit-optimize-contrast !important;
    -ms-interpolation-mode: nearest-neighbor !important;
}

a {
    color: #1e0040;
}

input {
    background: white  !important;
    color: #000 !important;
}

.MuiInputBase-root {
    border-radius: 3px !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-pb771q-MuiInputBase-input-MuiOutlinedInput-input {
    background: white  !important;
}

.theme-btn {
    background: #f78f1b !important;
    color: #fff  !important;
    text-shadow: none;
    font-weight: 500;
}

.page-title {
    color: #000 !important;
}

.form-control {
    margin-top: 20px !important;
    width: 47% !important;
    padding-right: 10px !important;
}

.Cases-field {
    margin-top: 20px !important;
    width: 100% !important;
    padding-right: 10px !important;
}

.submit {
    margin: 0 auto !important;
    margin-top: 20px !important;
    display: block !important;
    font-weight: 500 !important;
    background: #f78f1b !important;
}

.ag-theme-alpine [class^=ag-]:before {
    color: #fff !important;
}

.ag-theme-alpine .ag-icon-filter::before {
    color: #303030 !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
    color: orange !important;
}

.HeaderContent {
    background: #323232;
    padding-right: var(--tblr-gutter-x,1.5rem);
    padding-left: var(--tblr-gutter-x,1.5rem);
    width: 100%;color: #fff;
    background-image: url('/src/assets/images/hp-header.gif') !important;
    background-size: cover;
    background-position: 94% 65%;
    margin-bottom: 30px;
    border-radius: 3px;
}

.HeaderContent-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0px;
    color: #fff !important;
}


.HeaderContent-paragraph {
    font-size: 16px;
    margin: 0px;
    font-weight: 500;
    color: #fff !important;
}

.HeaderContent-container {
    padding: 40px 20px;
    display: grid;
}


.ag-theme-alpine .ag-icon-previous::before {
    color: #000 !important;
}

.ag-theme-alpine .ag-icon-next::before {
    color: #000 !important;
}

.ag-theme-alpine .ag-icon-first::before {
    color: #000 !important;
}

.ag-theme-alpine .ag-icon-last::before {
    color: #000 !important;
}


.ag-theme-alpine .ag-icon-small-down::before {
    color: black !important;
}


.bg-green {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #64748b;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: calc(0.25rem - 1px) 0.25rem;
    height: 1.25rem;
    border: 1px solid transparent;
    min-width: 1.25rem;
    font-weight: 600;
    font-size: .625rem;
    letter-spacing: .04em;
    text-transform: uppercase;
	background: #2fb344 !important;
	border: 1px solid #2fb344;
}

.bg-orange {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	min-width: 0;
	min-height: auto;
	padding: 0;
	border-radius: 100rem;
	background: #f76707 !important;
	border: 1px solid #f76707;	
}

.bg-danger {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	min-width: 0;
	min-height: auto;
	padding: 0;
	border-radius: 100rem;
	background: #d63939 !important;
	border: 1px solid #d63939;	
}

.search-container {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 10px;
}

.container-margin {
    margin-right: 30px;
}

.fileMargin {
    font-size: 20px;
    margin-top: 9px;
}

.fileImage {
    width: 45px;
    padding-right: 5px;
    float: left;
}

.filepara {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.pagesIcon {
    width: 45px;
    padding-right: 5px;
    float: left;
    margin-left: 30px;
}

.pagesPara {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.pagesContainer {
    font-size: 20px;
    margin-top: 9px;
}

.full-wdth-field {
    width: 100% !important;
}

.text-danger {
    text-align: center;
}

.MuiDropzoneArea-root {
    padding: 40px 60px;
    background-color: #f8f8f8 !important;
    border: 1px dashed #c1c1c1 !important;
}

.MuiDropzoneArea-icon {
    color: #f78f1b !important;
}

.MuiDropzoneArea-text {
    color: #000 !important;
    font-size: 20px !important;
}

.MuiCardContent-root > form > div > span {
    display: none;
}

.MuiGrid-spacing-xs-1 {
    margin-top: 10px !important;
}

.MuiGrid-spacing-xs-1 {
    margin: 0 auto !important;
    display: block !important;
    margin-top: 10px !important;
    width: max-content !important;
}

body {
    background: white !important;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #000 !important;
}

.css-s3gjr6-MuiTabs-root {
    background: #f3f3f3 !important;
}

.css-1kgk43m-MuiButtonBase-root-MuiTab-root.MuiButtonBase-root {
    min-width: 50% !important;
}

.css-s3gjr6-MuiTabs-root .MuiTabs-scrollButtons {
    width: 0px !important;
    display: none !important;
}

.css-8atqhb {
    border: 1px solid #d9d9d9 !important;
    border-radius: 0px !important;
}

.css-1kgk43m-MuiButtonBase-root-MuiTab-root.MuiButtonBase-root {
    color: #9d9d9d !important;
    font-weight: 500 !important;
}

.css-1kgk43m-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
}

.css-1n7n5hj-MuiPaper-root {
    border: 1px solid #dfdfdf !important;
}


.css-1kgk43m-MuiButtonBase-root-MuiTab-root.Mui-selected, .css-1kgk43m-MuiButtonBase-root-MuiTab-root.Mui-selected:hover {
    background: #303030 !important;
    border-radius: 0px !important;
    box-shadow: 0px 2px 6px #afafaf !important;
}

.css-188r3fk-MuiButtonBase-root-MuiListItem-root.MuiButtonBase-root {
    color: #000 !important;
}

.css-1tmlvs-MuiTypography-root {
    color: #000 !important;
    font-weight: 500 !important;;
}

.css-o7ndf7 {
    color: #000 !important;
}

.css-14v8uxc-MuiTypography-root {
    display: none !important;
}

.css-p9hwbn {
    padding: 0px 40px;
}

.css-19kzrtu {
    height: 600px !important;
}

.css-plkrbv-MuiTypography-root {
    color: #000 !important;
}

.acc-heading {
    background: #303030;
    color: #fff;
    padding: 8px 15px;
}

.css-yapgmo-MuiButtonBase-root-MuiAccordionSummary-root {
    border-radius: 0px !important;
    background: white !important;
}

.css-1yim2dd-MuiSvgIcon-root {
    color: #5c5c5c !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 10px 0 !important;
}

.css-1wm59ze-MuiButtonBase-root-MuiListItemButton-root {
    padding-top: 0px !important;
}

.css-1wm59ze-MuiButtonBase-root-MuiListItemButton-root:hover {
    background-color: #f2f2f2 !important;
}


.acc-border {
    border: 1px solid #d9d9d9 !important;
}

.css-5ce02n-MuiList-root {
    padding: 0px !important;
}

.css-yapgmo-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 45px !important;
    margin-top: 5px !important;
}

.css-15v22id-MuiAccordionDetails-root {
    padding: 5px 5px 7px !important;;
}

.css-ejp5yu-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #f78f1b !important;
}

.pdfviewer {
    height: 630px !important;
}


.css-188r3fk-MuiButtonBase-root-MuiListItem-root.MuiButtonBase-root:hover {
  background: #f79527 !important;
  color: #fff !important;
}

.MuiBox-root > a > button:hover {
    background: #f79527 !important;
    color: #fff !important;
    
}

.MuiBox-root > a {
    text-decoration: none !important;
}

.css-hpj8ol-MuiButtonBase-root-MuiButton-root {
    color: #8d8d8d !important;
    font-weight: 500 !important;
}

.css-u376pe-MuiFormLabel-root {
    color: #000 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
}

.login-links {
    padding: 0px 7px !important;
    color: #f78f1b !important;
    background: transparent !important;
    font-weight: 500 !important;
}

.login-links:hover {
    text-decoration: underline !important;
}

.Login-head {
    margin-bottom: 0px !important;
}

.Login-subhead {
    margin-top: 5px !important;
}

.social-btn {
    margin: 0 auto !important;
    margin-top: 10px !important;
    width: 60% !important;
    font-size: 15px !important;
    height: 40px !important;
}

.social-btn > div {
display: inline-flex !important;
}

.social-btn > div > div > svg {
    width: 18px !important;
}

.main-content {
    background: #f7f7f7 !important;
}

.top-menu-item {
    background: transparent !important;
}

.top-menu-item:hover {
    color: #f78f1b !important;
}

.css-wp3acn-MuiList-root .MuiListItem-button {
    background: transparent !important;
}

.css-1ym6sa1-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: transparent !important;
}

.css-129w9z6-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: #f78f1b !important;
}

.css-129w9z6-MuiButtonBase-root-MuiIconButton-root:hover > .css-1yim2dd-MuiSvgIcon-root {
    color: #fff !important;
}

.ag-theme-alpine .ag-ltr input[class^=ag-][type=text] {
    border: 1px solid #cbcbcb !important;
}

.Breadcrumb-heading{
    float: left !important;
    width: 100%;
    margin-bottom: 0px;
}

.Breadcrumb-link {
    float: left !important;
    width: 100%;
}
